{% load static %}
<div class="modal fade" id="How-to-play">
<div class="modal-dialog">
<div class="modal-content">
    <div class="card-header">
        <div class="modal-title">
            How to play?
        </div>
    </div>
    <div class="modal-body">
        <table style="width: 70%;">
            <tr>
                <th>Question</th>
                <th></th>
                <th>Answer</th>
            </tr>
            <tr>
                <td><img src="{% static 'Question/BD.svg' %}" class="how-to-play-img"></td>
                <td></td>
                <td>→</td>
            </tr>
            <tr>
                <td><img src="{% static 'Question/BAD.svg' %}" class="how-to-play-img"></td>
                <td></td>
                <td>← or →</td>
            </tr>
            <tr>
                <td><img src="{% static 'Question/BWD.svg' %}" class="how-to-play-img"></td>
                <td></td>
                <td>↑ or →</td>
            </tr>
            <tr>
                <td><img src="{% static 'Question/RD.svg' %}" class="how-to-play-img"></td>
                <td></td>
                <td>←</td>
            </tr>
            <tr>
                <td><img src="{% static 'Question/RAD.svg' %}" class="how-to-play-img"></td>
                <td></td>
                <td>↑ or ↓</td>
            </tr>
            <tr>
                <td><img src="{% static 'Question/RWD.svg' %}" class="how-to-play-img"></td>
                <td></td>
                <td>← or ↓</td>
            </tr>
        </table>
        <b>Note:</b> Red means reverse. You can play with "WASD" or keyboard arrows.
    </div>
    <div class="modal-footer">
        <input type="button" class="btn btn-primary" id="how-to-play-button" value="OK">
    </div>
</div>
</div>
</div>