{% load static %}
<div class="card bg-light" id="MarketBox">
<div class="card-header" style="display: inline;">
<img src="{% static 'Basic_img/return.png' %}" id="Return-Start" style="max-width:10%;height: auto;">
<ul class="pagination justify-content-center">
<li class="page-item"><input type="button" class="btn btn-danger" value="Pink" id="pink-button"></li>
<li class="page-item"><input type="button" class="btn btn-warning" value="Yellow" id="yellow-button"></li>
<li class="page-item"><input type="button" class="btn btn-dark" value="Black" id="black-button"></li>
</ul>
</div>
<div class="card-body d-flex">
  <div id="pink-area" style="text-align: center;">
    <img src="{% static 'Basic_img/1.png' %}" class="w-100" style="max-width:35%;height: auto;"><br>
    25$
  </div>
  <div id="yellow-area" style="text-align: center;">
    <img src="{% static 'Basic_img/2.png' %}" class="w-100" style="max-width:35%;height: auto;"><br>
    250$
  </div>
  <div id="black-area" style="text-align: center;">
    <img src="{% static 'Basic_img/3.png' %}" class="w-100" style="max-width:40%;height: auto;"><br>
    1000$
  </div>
</div>

<div class="card-footer">
    <input type="button" class="btn btn-primary" id="Arrow-list-button" value="Arrows">
    <input type="button" class="btn btn-danger" id="buy" value="Buy">
</div>
</div>

<div class="card bg-light" id="ArrowBox">
<div class="card-header">
  <img src="{% static 'Basic_img/return.png' %}" id="Return-Box" style="max-width:10%;height: auto;">
  Arrows</div>
<div class="card-body text-center" id="ArrowList" style="display: inline;"></div>
</div>
